dataset:
  path: viktoroo/longbench2-128k-plus
  name: null
  split: train
  text_column: text
  max_samples: 2048

model:
  name: meta-llama/Llama-2-7b-hf
  revision: main
  dtype: bfloat16
  device_map: auto
  trust_remote_code: false

tokenizer:
  name: meta-llama/Llama-2-7b-hf
  max_length: 4096
  padding: longest

inference:
  batch_size: 1
  autocast_dtype: bfloat16

capture:
  capture_queries: true
  capture_keys: true
  layers: null
  heads: null
  min_bucket_size: 1024
  sampler:
    type: uniform
    base_rate: 3.0

output:
  data_root: data/sniffed-qk-llama2-7b
  readme_path: README.md
  hf_repo_id: viktoroo/sniffed-qk-llama2-7b
